.window {
    position: absolute;
}

.window.styled {
    color: #f6f5f4;
    font-family: oxanium;

    background-color: #241f3170;
    backdrop-filter: blur(16px);

    border: solid 1px #241f31;
    border-radius: 0.25rem;

    box-shadow: 0 0 6px 2px #32323260;
}

.window.styled .titleBar {
    background-color: #241f31;

    display: grid;
    grid-template-columns: auto min-content;
    flex-direction: row;
    gap: 6px;

    padding: 6px;

    width: 100%;
    height: 36px;

    overflow: hidden;
}

.window.styled .titleBar .title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(2px);
}

.window.styled .titleBar .options {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.window.styled .titleBar .options button {
    background: #3d3846;
    border-radius: 0.25rem;
    border: none;

    height: 22px;
    width: 22px;

    cursor: pointer;
}

.window.styled .titleBar .options button:hover {
    background: #5e5c64;
}

.window.styled .titleBar .options button#minimize:hover {
    background: #26a26945;
}

.window.styled .titleBar .options button#maximize:hover {
    background: #f5c21145;
}

.window.styled .titleBar .options button#quit:hover {
    background: #e01b2445;
}

.window.styled .titleBar .options button img {
    margin: auto;
    height: 10px;
    filter: invert(1);
}

.window.styled .windowContent {
    overflow: scroll;
    height: calc(100% - 36px);
    padding: 8px 12px 8px 12px;
}

.window.styled .windowContent button {
    background: #241f31;
    border: solid 2px #3d3846;
    border-radius: 0.25rem;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    color: #f6f5f4;
    font-weight: 500;
}

.window.styled .windowContent button:hover,
.window.styled .windowContent button:focus {
    background: #3d3846;
    border: solid 2px #241f31;
}
